<!DOCTYPE html>
<html>
    <head>
        <title>mart</title>
    </head>
    <body>
        <h2>result message : {{msg}}</h2>>
        <form action="{{url_for('index')}}" method="POST">
            <input type="number", name="egg", value="0", min="0">egg Rs.5<br>
            <input type="number", name="bre", value="0", min="0">bread Rs.20<br>
            <input type="number", name="mil", value="0", min="0">milk Rs.10<br><br>
            <input type="submit" name="action" value="submit">
        </form>
    </body>
</html>